@charset "UTF-8";

@font-face
{
    font-family: "noto-reg";
    src: url("noto-reg.otf");
}

@font-face
{
    font-family: "noto-bold";
    src: url("noto-bold.otf");
}

html,body
{
    height: 100%;
}

body
{
    margin: 0;
    background-color: #2a3436;
    font-family: "noto-reg";
    color: rgba(255,255,255,.8);
    font-size: 0;
}

.img-zone,.info-zone
{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    text-align: center;
}

.img-zone img
{
    width: 100%;
    height: auto;
}

.img-zone img.tall
{
    width: auto;
    height: 100%;
}

/*-- info box side --*/
.info-box
{
    position: relative;
    width: 100%;
    min-height: 100px;
}

.info-box .info-label,.info-box .info-text
{
    padding-left: 14px;
    box-sizing: border-box;
}

.info-box .info-label
{
    height: 35px;
    font-size: 20px;
}

.info-label .label
{
    border-bottom: 4px solid rgba(255,255,255,.8);
}

.info-box .info-text
{
    font-size: 40px;
}

.info-box.addinfo .info-text
{
    font-size: 20px;
}

/*-- hide system css --*/
.info-box .show-info
{
    opacity: 0;
    user-select: none;
}

.info-box .hide-label
{
    position: absolute;
    font-size: 25px;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    margin-left: -50px;
    margin-top: -25px;
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 1;
    visibility: visible;
    transition: opacity .2s 0s,visibility 0s 0s;
    user-select: none;
    cursor: pointer;
}

.info-box .hide-label:hover
{
    opacity: .7;
}

.info-box.show .show-info
{
    opacity: 1;
    transition: opacity .2s;
}

.info-box.show .hide-label
{
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s 0s,visibility 0s .2s;
}

/*-- info area colours/label overrides --*/
.info-box.name .info-text
{
    color: #eabef4;
}

.info-box.name .hide-label
{
    color: white;
    background-color: #eabef4;
}

.info-box.material .info-text
{
    color: #6bb8ef;
}

.info-box.material .hide-label
{
    width: 142px;
    margin-left: -71px;
    background-color: #6bb8ef;
}

.info-box.place .info-text
{
    color: #e669c6;
}

.info-box.place .hide-label
{
    background-color: #e669c6;
}

.info-box.time .info-text
{
    color: #42eacb;
}

.info-box.time .hide-label
{
    width: 78px;
    margin-left: -39px;
    background-color: #42eacb;
}

.info-box.addinfo .hide-label
{
    background-color: rgba(255,255,255,.8);
    color: #2a3436;
}